.darkmode-wrap {
    display: flex;
    gap: .5rem;
    align-items: center;

    button {
        background: none;
        color: rgb(54, 52, 52);        
        height: max-content;
        border-radius: .5rem;        
        border: none;
        .dark-mode-icon {
            font-size: 2rem;
        }        
    }
}